.container {
    max-width: 120rem;
    //centers horizontally
    margin: 8rem auto;
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}




